*{
  margin: 0;
  padding: 0;
  font-family: gilroy;
  box-sizing: border-box;
}

html,body{
  height: 100%;
  width: 100%;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}